<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>

    <form action="" method="POST">
        {% csrf_token %}

        {{form}}
        {% comment %} 
        <label for="un">USERNAME:</label>
        <br>
        <input type="text" id="un" name="username">
        <br><br>
        <label for="pass">PASSWORD:</label>
        <br>
        <input type="password" id="pass" name="password1">
        {% endcomment %}
        <br><br>
        <button type="submit">LOGIN</button> 
    </form>

    <h5>Don't have account? <a href="{% url 'signup' %}">Signup</a></h5>

    <!-- error is passed in context in views.py  -->
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>